---
import Layout from "@/layouts/Layout.astro";
import { site } from "@/interfaces";
---

<Layout title="Payment">
  <main>
    <button class="btn-normal primary">Pay</button>
  </main>
</Layout>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
