---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Page Not Found">
  <main>
    Page Not Found
  </main>
</Layout>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
