---
import Layout from '@/layouts/Layout.astro';

export interface Site {
  title: string;
  coverImage: string;
}

let site: Site = null;
const response = await fetch(`${import.meta.env.PUBLIC_SITE || Astro.site}/api/site`);
if (response.status == 200 && response.headers.get('Content-Type') == 'application/json')
  site = await response.json();
---

<Layout title={ site.title } preloads={[{href: site.coverImage, as: "image" }]}>
  <main class="home">
    <div class="cover-image" style={ `background-image: url("${site.coverImage}")` }>
      <a href="/products">
        <div class="shop-now">Shop Now</div>
      </a>
    </div>
    <div class="about-us">
      <h1>About Us</h1>
    </div>
  </main>
</Layout>

<style>
  main {
    height: 100%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
  }

  main > * {
    height: 100%;
    scroll-snap-align: center;
    box-sizing: border-box;
  }

  .cover-image {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .shop-now {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #444;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
  }

  .shop-now:hover {
    background-color: #555;
  }

  .about-us {
    padding: 8px;
    text-align: center;
  }
</style>
