---
import Layout from '@/layouts/Layout.astro';

export interface Site {
  title: string;
  coverImage: string;
}

let site: Site = null;
const response = await fetch(`${import.meta.env.PUBLIC_SITE || Astro.site}/api/site`);
if (response.status == 200 && response.headers.get('Content-Type') == 'application/json')
    site = await response.json();
---

<Layout title="Focus Store">
  <main class="home">
    <div class="coverImage" style={ `background-image: url("${site.coverImage}")` }>
      <div>{ site.title }</div>
    </div>
  </main>
</Layout>

<style>
  .coverImage {
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
</style>
