---
import Layout from '../layouts/Layout.astro';
import ProductCard from "../components/ProductCard"

const products = [{ id: "1", name: "Product 1" }]
---

<Layout title="Focus Store">
  <main>
    <div class="products">
      {products.map(product => (<ProductCard product={ product }></ProductCard>))}
    </div>
  </main>
</Layout>

<style is:global>
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .products .product-card {
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .products .product-card>img {
    display: block;
    width: 300px;
    height: 300px;
  }

  .products .product-card>.name {
    padding: 8px;
  }
</style>
