---
import Layout from "@/layouts/NavBar.astro";
import { site } from "@/interfaces"
---

<Layout preloads={[{href: site.coverImage, as: "image" }]} title={ site.title }>
  <main class="home">
    <div class="cover-image" style={ `background-image: url("${site.coverImage}")` }>
      <a href="/products">
        <div class="shop-now">Shop Now</div>
      </a>
    </div>
    { site.aboutUs ?
    <div class="about-us">
      <h1>About Us</h1>
      { site.aboutUs.split("\n").map(line => (<p>{line}</p>)) }
    </div>
    : null }
    { site.testimonials ?
    <div class="testimonials">
      <h1>Testimonials</h1>
      <div class="testimonials-list">
        { site.testimonials.map(testimonial => (
        <div class="testimonial">
          <div class="testimonial-avatar">
            <img src={ testimonial.avatar } width="100" height="100" />
            <div class="testimonial-name">{ testimonial.name }</div>
            <div class="testimonial-caption">{ testimonial.caption }</div>
          </div>
          <div class="testimonial-text">
            <div class="testimonial-quote">{ testimonial.quote }</div>
          </div>
        </div>
        )) }
      </div>
    </div>
    : null }
  </main>
</Layout>

<style>
  nav {
    display: flex;
    background-color: white;
  }

  main {
    height: 100%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
  }

  main>* {
    height: 100%;
    scroll-snap-align: center;
    box-sizing: border-box;
  }

  .cover-image {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .shop-now {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #444;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
  }

  .shop-now:hover {
    background-color: #555;
  }

  .about-us,
  .testimonials {
    max-width: 800px;
    margin: auto;
    padding: 8px;
    text-align: center;
  }

  .testimonial-avatar {
    float: left;
    margin: 12px;
  }

  .testimonial-avatar > img {
    border-radius: 50%;
  }
</style>
