---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Payment">
  <main>
    <button class="btn-normal primary" onclick="pay()">Pay</button>
  </main>
</Layout>

<script is:inline>
  function pay() {
    const paymentRequest = new PaymentRequest(
      [
        {
          supportedMethods: "https://pay.longern.com/",
          data: {},
        },
      ],
      {
        total: {
          label: "Total",
          amount: {
            currency: "USD",
            value: "1.00",
          },
        },
      }
    );
    paymentRequest.show().then(function (paymentResponse) {
      paymentResponse.complete("success");
    });
  }
</script>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
