---
import Layout from '@/layouts/Layout.astro';
import ProductCard from "@/components/ProductCard"
---

<Layout title="Focus Store">
  <main class="product-detail">
    <ProductCard></ProductCard>
  </main>
</Layout>
