---
import SvgIcon from "@jamescoyle/vue-icon";
import { mdiArrowLeft } from "@mdi/js";

import ProductDetail from "@/components/ProductDetail";
import Layout from '@/layouts/NavBar.astro';

const product = {
  id: "id",
  name: "Product 1",
  price: 980,
  images: ["https://picsum.photos/510/300?random", "https://picsum.photos/510/300?random"],
}
---

<Layout title="Focus Store">
  <header>
    <a href="/products">
      <button class="btn-icon">
        <SvgIcon type="mdi" path={mdiArrowLeft}></SvgIcon>
      </button>
    </a>
  </header>
  <main>
    <div class="container">
      <ProductDetail product={product}></ProductDetail>
    </div>
  </main>
</Layout>

<style is:global>
  header {
    background-color: #333;
    color: white;
  }

  .container {
    margin: auto;
  }

  .product-detail {
    display: flex;
  }

  .product-detail .detail-text {
    margin: 8px;
  }

  .product-detail .price {
    font-size: 1.5em;
    margin: 8px;
  }

  @media not all and (max-width: 960px) {
    .container {
      width: 1200px;
      padding: 12px;
    }

    .product-detail .detail-image {
      width: 400px;
    }
  }

  @media (max-width: 960px) {
    .product-detail {
      flex-direction: column;
    }

    .product-detail .detail-image {
      width: 100%;
    }
  }
</style>
