---
import NavBar from '@/layouts/NavBar.astro';
import ProductCard from "@/components/ProductCard"

const products = [{ id: "1", name: "Product 1", price: 980 }]
---

<NavBar title="Focus Store">
  <main>
    <div class="products">
      {products.map(product => (<ProductCard product={ product }></ProductCard>))}
    </div>
  </main>
</NavBar>

<style is:global>
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .products .product-card {
    width: 300px;
  }

  .products .product-card > a {
    margin: 8px;
    display: block;
    border-radius: 6px;
    background-color: white;
    overflow: hidden;
  }

  @media (max-width: 960px) {
    .products .product-card {
      flex-basis: 50%;
    }
  }

  .products .product-card .square {
    position: relative;
    padding-top: 100%;
  }

  .square > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .products .product-card .card-text {
    padding: 8px;
  }

  .products .product-card .price {
    font-size: 1.1em;
  }
</style>
