---
import NavBar from '@/layouts/NavBar.astro';
import Products from '@/components/Products.astro';
import { products } from '@/interfaces';
---

<NavBar title="Products">
  <main>
    <Products products={products} />
  </main>
</NavBar>
