html,
body,
main {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: whitesmoke;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

button {
  all: unset;
  cursor: pointer;
}

.btn-icon {
  display: flex;
  padding: 12px;
}
