html,
body,
main {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted",
    "Segoe UI", "Liberation Sans", sans-serif;
}

main {
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

button {
  all: unset;
  cursor: pointer;
}

.btn-normal.primary {
  padding: 8px 16px;
  color: white;
  border-radius: 4px;
  transition: opacity 0.2s ease-in-out;
}

.btn-normal:hover {
  opacity: 0.8;
}

.btn-normal.primary {
  background-color: #1867c0;
}

.btn-icon {
  display: flex;
  padding: 12px;
}

.btn-icon > span {
  display: inline-flex;
}

.square {
  position: relative;
  padding-top: 100%;
  width: 100%;
}

.square > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[badge] {
  position: relative;
}

[badge]::before {
  content: attr(badge);
  position: absolute;
  font-size: 12px;
  min-width: 1em;
  height: 1em;
  right: 0;
  top: -0.5em;
  transform: translateX(50%);
  border-radius: 1em;
  z-index: 1;
  padding: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
}
