* {
  box-sizing: border-box;
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted",
    "Segoe UI", "Liberation Sans", sans-serif;
}

main {
  overflow: auto;
}

@media not all and (max-width: 960px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

button {
  all: unset;
  cursor: pointer;
}

.btn-normal {
  padding: 8px 16px;
  border-radius: 4px;
  transition: opacity 0.2s ease-in-out;
  background-color: #f0f0f0;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

.btn-normal.primary {
  background-color: #1867c0;
  color: white;
}

.btn-normal.danger {
  background-color: #e53e3e;
  color: white;
}

.btn-normal:hover {
  opacity: 0.8;
}

.btn-icon {
  display: flex;
  padding: 12px;
  transition: opacity 0.2s;
}

.btn-icon:hover {
  opacity: 0.8;
}

.btn-icon > span {
  display: inline-flex;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="search"],
textarea {
  font-size: 1em;
  padding: 8px;
  border: 1px solid darkgray;
  border-radius: 4px;
}

.square {
  position: relative;
  padding-top: 100%;
  width: 100%;
}

.square > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[badge] {
  position: relative;
}

[badge]::before {
  content: attr(badge);
  position: absolute;
  font-size: 12px;
  min-width: 1em;
  height: 1em;
  right: 0;
  top: -0.5em;
  transform: translateX(50%);
  border-radius: 1em;
  z-index: 1;
  padding: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
}

.currency-prefix,
.currency-suffix {
  font-size: 0.7em;
  margin: 0 0.2em;
}

@keyframes mdi-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mdi-spin {
  animation: mdi-spin 2s infinite linear;
}
