---
export interface Props {
  title: string;
  preloads?: Array<{ href: string, as: string }>;
}
const { title, preloads = [] } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  {preloads.map(({ href, as }) => (
  <link rel="preload" href={href} as={as} />
  ))}
  <title>{title}</title>
</head>

<body>
  <slot />
</body>

</html>

<style is:global>
  body {
    margin: 0;
    background-color: whitesmoke;
  }

  a {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
  }
</style>
